
# generated package info files
**/packageInfo.ts

# build output
**/build/
**/build-cjs/
**/build-tsc-cjs/
**/build-tsc-esm/
**/build-tsc-js/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# yarn 2 zero-install mode.
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions



tsconfig.build.tsbuildinfo